/* tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    * {
        @apply p-0;
    }

    body {
        @apply min-h-full min-w-80 text-base font-normal;
    }

    article {
        @apply mt-7.5 w-full max-w-full;
    }
}

@layer components {
    input {
        @apply rounded-lg border px-3.5 py-2.5 shadow-sm;
    }

    button {
        @apply flex items-center justify-center bg-no-repeat duration-300 ease-in-out hover:shadow-md;
    }
}
